
<div id="motors">
    <h1>Welcome to CSE Motors!</h1>
    <div id="motors-wrap">
        <img class="logo" src="images/vehicles/delorean.jpg" alt="Car title icon">
        <div id="motors-content">
            <h2 class="phrase"> DMC Delorean<h2>
                <p>3 Cup Holders</p>
                <p>Superman doors</p>
                <p>Fuzzy dice!</p>
                <div id="own-button"><a href="">Own Today</a></div>
        </div>
    </div>
    <div class="blocks-combined">
        <div class="block2">
        <h2>Delorean Upgrades</h2>
            <div class="image-decals">
                <div class="upgrade">
                    <img class="upgrade-img" src="images/upgrades/flux-cap.png" alt="photo-flux">
                    <p class="upgrade-title">Flux Capacitor </p>
                </div>
                <div class="upgrade">
                    <img class="upgrade-img" src="images/upgrades/flame.jpg" alt="photo-flame">
                    <p class="upgrade-title">Flame Decals</p>
                </div>
                <div class="upgrade">
                    <img class="upgrade-img" src="images/upgrades/bumper_sticker.jpg" alt="photo-sticker">
                    <p class="upgrade-title">Bumper Stickers</p>
                </div>
                <div class="upgrade">
                    <img class="upgrade-img" src="images/upgrades/hub-cap.jpg" alt="photo-hubcap">
                    <p class="upgrade-title">Hub Caps</p>
                </div>
            </div>
        </div>
        <div class="block3">
        <h2>DMC Delorean Reviews</h2>
            <div class="list">
                <ul>
                    <li>"So fast its almost like traveling in time" (4/5)</li>
                    <li>"Coolest ride on the road" (4/5)</li>
                    <li>"I'm feeling Marty Mcfly" (5/5)</li>
                    <li>"The most futuristic ride of our day" (4.5/5)</li>
                    <li>"80's living and I love it!" (5/5)</li>
                </ul>
            </div>
        </div>  
    </div> 
</div>

            

