/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*Color Scheme*/
:root {
  --fuenteHeading: 'Fjalla One', sans-serif;
  --fuenteParrafos: 'Open Sans', sans-serif;

  --lightgray: #f7eded;
  --darkgray: #8d8d8d;
  --lightblue: #a6cbeb;
  --skyblue: #4c96d7;
  --black: #3a3a3a;
  --white: #fff;
}

/******page background*****/
body{
  background-image: url(../images/site/small_check.jpg);
}

a {
  text-decoration: none;
}

/**body box**/
#wrapper {
  margin: 50px 200px;
  background-color: var(--white);
  border: .3rem solid var(--skyblue);
  border-radius: .5rem;
}

/**Site and account**/

#top-header {
  display: flex;
  margin: .5rem;
}

.siteName {
  display: block;
  flex-grow: 1;
}

.siteName a {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

#tools {
  flex-grow: 1;
  display: block;
}

#tools a {
  display: flex;
  justify-content: flex-end;
  font-family:var(--fuenteParrafos);
  color: black;
}

/**navigation**/
nav {
  background-color: var(--black);
}

nav ul {
  display: flex;
  padding: 0 0 0 .25rem;
  justify-content: space-evenly;
  max-width: 100%;
}

nav a {
  text-decoration: none;
  font-size: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

nav li {
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;
  color:var(--white);
  font-family: var(--fuenteParrafos);
}


/**title**/
h1 {
  font-family: var(--fuenteHeading);
  text-align: left;
  margin-left: 15px;
  font-size: 40px;
}

/**Vehicle logo**/
.logo {
  background-image: url(/public/images/vehicles/delorean.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

/*DCM Delorean*/
main {
  margin: 1rem;
}

h1, h2 {
  font-family: var(--fuenteHeading);
  font-size: 1.5rem;
}

#motors-wrap img {
  display: block;
  width: 70%;
  margin: auto;
}

#motors-wrap {
  position: relative;
}

#motors-content {
  color: var(--skyblue);
  box-shadow: 3px 5px 3px var(--lightgray);
  padding: 30px 30px;
  max-width: 45%;
  position:absolute;
  top:75px;
  left:20px;
}

#motors-content h2{
  margin-top: 0;
  margin-bottom: .5rem;
}

#motors-content p {
  margin: 3px;
}

#own-button {
  padding: .5rem;
  background-color: var(--skyblue);
  display: flex;
  width: 80%;
  font-weight: bold;
  box-shadow: var(--darkgray);
  border-radius: 3px;
  justify-content: center;
}
/****decals***/
.flex-content {
  display: flex;
  justify-content: space-around;
}

#review h2,
#add-ons h2 {
  font-size: 1.4em;
  margin-bottom: 2em;
}

#add-ons {
  order: -1;
}

#review li {
  font-size: 1.1em;
}

#add-ons {
  width: 45%;
}

#add-ons, #review {
  margin-top: 0;
}

.flex {
  display: flex;
  margin-bottom: 2em;
  justify-content: center;
  width: 100%;
  padding-left: .25em;
}

.flex a {
  width: 100%;
}

.add-col {
  background-color: var(--skyblue);
  height: 5.5em;
  width: 130%;
  border: #3a3a3a solid 1px;
}


figure img {
  display: block;
  margin: auto;
  padding-top: .5em;
}


figure img {
  display: block;
  margin: auto;
  padding-top: .5em;
}

figure figcaption {
  text-align: center;
}

#review li {
  font-size: 1.2em;
  margin-bottom: 1em;
  font-family: var(--fuenteParrafos);
}

#review h2,
#add-ons h2 {
  font-size: 1.4em;
  margin-bottom: 2em;
}


